@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/sf-pro-display-regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/sf-pro-display-medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/sf-pro-display-bold.ttf');
    font-weight: bold;
}
