// BODY
body {
    padding-top: 1.5rem;
}

// BUTTONS 
button {
    outline: none;
    border: none;
    background: transparent;
}

// PAGE POKEDEX
#pokedex {
    background: url('../assets/images/Pokeball.png') no-repeat top center;
}